.bg {
    background-image: url('./assets/cuisine.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 440px;
    padding-right: 440px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.content{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.para{
    color: white;
}

.heading{
    color: white;
}

.btn{
    background-color: green;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 7px;
    padding-left: 7px;
    font-weight: bold;
}
